.spinner {
    transform-origin: 50% 50%;
    transition-timing-function: ease;
    transition-property: opacity,transform;
    animation: SpinnerAnimationShow .25s ease normal, SpinnerAnimationRotation .6s linear infinite;
    color: #8792a2;
}

@keyframes SpinnerAnimationShow {
    0% {
        opacity:0
    }
    to {
        opacity:1
    }
}

@keyframes SpinnerAnimationRotation {
    to {
        transform:rotate(1turn)
    }
}